
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&family=Ubuntu&display=swap');
*{
  --ManageBacDark:#293041;
  --ManageBacMoreDarker:#1d222e;

  --topnav:#F0F0F0;
  --ManegeBacBlue:#4B8FFA;
  --maintext: #E0E0E0;
  --bg: #C4C4C4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
   background-color: gray;
}
.topnav{
  background: var(--topnav);
  display: flex;
  height: 6vh;

  min-height: 2rem;
  font-family: 'Open Sans', sans-serif;
}
.coloum{
  min-width: 7rem;
  font-family: 'Ubuntu', sans-serif;
  height: 94vh;
  width: 20vh;
  
  display: flex;
  flex-direction: column;
  margin-right: 3vh;  
  background: var(--ManageBacDark);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}
.coloum a:visited{
  color: white;
  
}
.coloum h2{
 margin: 10%;
}
.coloum h3{
  position:fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  padding: 2vh;
  width: 12.9vh;
  text-align: center;
  background: var(--ManageBacDark);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.coloum li{
  text-decoration: none;
  margin: 5%;
  margin-left: 10%;
  list-style: none;
  padding: 0.4rem;
}
.coloum li:hover{
  background: var(--ManageBacMoreDarker);
  border-radius: 3px;
}
.coloum h3:hover{
  background: var(--ManageBacMoreDarker);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.lable{
  display: flex;
}
.content{
  
  background: var(--maintext);
  border-top-left-radius: 10px;
  width: 10000px;
  margin-top: 3vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
header{
  background: var(--ManegeBacBlue);
  font-family: 'Roboto', sans-serif;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
}
.pdf{
  display: flex;
}
main{
  margin: 2%;
}
